# Hidden files and directories (except .gitignore)
.*
!.gitignore

# Text and markdown files (except README.md)
*.txt
*.md
!README.md

# Node
node_modules/

# Tailwind build output
static/css/app.css

# Vendor build artifacts
static/js/trix.js
static/css/trix.css

# Rust
target/
